@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url('/red/Halstatt.jpg'); /* Replace with your image URL */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  font-family: 'Inter', sans-serif;
  color: white; /* Adjust text color for visibility */
  display: flex;
  justify-content: center;
  align-items: center;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: "regular";
  font-style: normal;
}

.main {
  display:  flex;
  /* margin:   0.8vh; */
  width:    94vw;
  height:   96vh;

  align-items: center;
  justify-content: center;

  /* color: #fff; */
}

.button {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 55px #ff00ff, 0 0 75px #ff00ff;
}

.main .board {
  background-color: rgba(255, 0, 0, 0.2);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
}

.score {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 55px #ff00ff, 0 0 75px #ff00ff;
}

.spectrum .cells {
  width:  100%;
  height: 100%;

  border: #ad1515 solid 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);

  /* gap: 1px; */
}

.spectrum .cells .spec_cell.empty {
  background-color: rgba(59, 59, 59, 0.5);
}

.spectrum .cells .spec_cell.filled {
  background-color: rgba(255, 255, 255, 0.5);
}

.spectrum .cells .spec_cell.blocked {
  background-color: rgba(0, 0, 0, 0.5);
}

.cell.empty{
  background-color:  rgba(59, 59, 59, 0.5);
}

.cell.filled.I { background-color: rgba( 17, 122, 195, 0.8); }
.cell.filled.J { background-color: rgba(230,  74,  58, 0.8); }
.cell.filled.L { background-color: rgba(229, 202,  37, 0.8); }
.cell.filled.O { background-color: rgba(100,  60, 138, 0.8); }
.cell.filled.S { background-color: rgba(101, 174,  23, 0.8); }
.cell.filled.T { background-color: rgba(156,  39, 176, 0.8); }
.cell.filled.Z { background-color: rgba(244, 143, 177, 0.8); }

.cell.blocked{
  background-color:  rgba(10,10,10, 0.5);
}

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lobby .rooms {
  text-align: left;
  margin-bottom: 1.5vh;
  /* background-color: rgba(151, 15, 15, 0.5); */
}

.lobby .rooms a{
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  padding-left: 3vh;
  margin-bottom: 1vh;
  font-size: 2.5vh;
  text-align: left;
  /* background-color: rgba(17, 15, 151, 0.5); */
}

.lobby .rooms .waiting::before {
  content: ""; /* Required for pseudo-element */
  position: absolute;
  left: 0;
  top: 35%;
  /* transform: translateY(-50%); */
  width:  1.2vh; /* Size of the spot */
  height: 1.2vh;
  background-color: green;
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.8);
}

.lobby .rooms .playing::before {
  content: ""; /* Required for pseudo-element */
  position: absolute;
  left: 0;
  top: 35%;
  /* transform: translateY(-50%); */
  width:  1.2vh; /* Size of the spot */
  height: 1.2vh;
  background-color: rgb(255, 0, 0);
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8);
}

.lobby button {
  width:  24vh;
  height: 6vh;
  background-color: transparent;

  font-size: 2.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.lobby .name {
  font-size: 3vh;
  margin-bottom: 1vh;
}

.lobby input {
  font-size: 3vh;
  margin-bottom: 1vh;
  color: white;
  background-color: transparent;
}

.lobby .error {
  color: red;
  opacity: 1;
  transition: opacity 1.0s ease-out; /* Smooth fade-out over 0.3 seconds */
}

.lobby .error.fade-out {
  opacity: 0;
}

/* Landscape orientation: two columns */
@media (min-aspect-ratio: 71/100) {
  .main {
    margin:   0.8vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
  }

  .button {
    font-size:     2vh;
    border-radius: 2vh;
    margin-bottom: 1vh;
  }


  .main .board {
    width:  48vh;
    height: 96vh;

    padding: 1vh;
    margin:  1vh;

    border:     0.5vh solid #ad1515;
    box-shadow: 0 0 1vh #ad1515;
  }

  .main .info {
    width:  16vh;
    height: 100%;

    padding: 1vh;
    margin: 1vh;
  }

  .next_pieces {
    width: 100%;
    height: calc(24vh - 2vh);
    /* background-color: rgba(255, 0, 0, 0.2); */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;

    padding-left:  1vh;
    padding-right: 1vh;
    margin-bottom: 2vh;
  }

  .small_board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    gap: 1px;
  }

  .score {
    width: 100%;
    height: 4vh;
    /* background-color: rgba(255, 0, 0, 0.2); */

    font-size: 2vh;
  }

  .status {
    width: 100%;
    height: 4vh;
    font-size: 1.4vh;
    /* background-color: rgba(21, 62, 124, 0.2); */
  }

  .button {
    width: 100%;
    height: 4vh;
    background-color: transparent;

    padding-left: 1vh;
    padding-right: 1vh;
  }

  .spectrum header, .spectrum footer {
    margin: 1vh;
  }

  .spectrum_list {
    font-size: 1.3vh;
    height: 55vh;

    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px; */

    overflow-y: auto;
  }

  .spectrum_list .spectrum {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    text-align: center;
  }

  .spectrum_list .spectrum .cells{
    width:  10vh;
    height: 20vh;
    background-color: rgba(255, 0, 0, 0.2);
  }


}

/* Portrait orientation: two rows */
@media (max-aspect-ratio: 71/100) {
  .main {
    flex-direction: column;
    margin:    0.8vw;
    font-size: 1.5vw;

    /* background-color: rgba(255, 255, 0, 0.2); */
  }

  .button {
    font-size:     2vw;
    border-radius: 2vw;
  }

  .main .board {
    height: calc(96vh - 24vw);
    width:  calc((96vh - 24vw) / 2);

    padding: 1vw;
    margin:  1vw;

    border:     0.5vw solid #ad1515;
    box-shadow: 0 0 1vw #ad1515;
  }

  .main .info {
    width:   100%;
    height:  24vw;
    display: flex;


    /* background-color: rgba(255, 0, 0, 0.2); */
  }

  .next_pieces {
    width:  24vw;
    height: 100%;
    background-color: rgba(5, 80, 167, 0.2);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw;

    padding-left:  1vw;
    padding-right: 1vw;
    margin-bottom: 2vw;
  }

  .small_board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    gap: 1px;
  }

  .game_info {
    width:  30vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center */

    /* background-color: rgba(20, 163, 13, 0.2); */
    padding: 2vw;
  }

  .score {
    width:  100%;
    height: 6vw;
    /* background-color: rgba(26, 13, 170, 0.2); */

    font-size: 2.5vw;
  }

  .status {
    width:      100%;
    height:     6vw;
    font-size:  2vw;
    /* background-color: rgba(21, 62, 124, 0.2); */
  }

  .button {
    width: 100%;
    height: 8vw;
    background-color: transparent;

    padding-left:  1vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
    font-size:     2.5vw;
  }

  .spectrum header, .spectrum footer {
    margin: 1vh;
  }

  .spectrum_list {
    font-size: 1.5vw;
    height:    100%;
    width:     100%;

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    /* background-color: rgba(98, 8, 158, 0.2); */
  }

  .spectrum_list .spectrum {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    text-align: center;
    padding-left: 2vw;
  }

  .spectrum_list .spectrum .cells{
    width:  8vw;
    height: 20vw;
    /* background-color: rgba(255, 0, 0, 0.2); */
  }
}
