.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  
  border: #010d15 solid 1px;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #fff;
}

.main .board {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);

}

.main .info{
  height: 100%;
  width: 100%;
  background-color:  rgba(14, 59, 221, 0.7);
}

/* Landscape orientation: two columns */
@media (orientation: landscape) {
  .main {
    grid-template-columns: calc(50vh) calc(11.8vh);
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
  }
  .board,
  .info {
    height: 100%;
  }
}

/* Portrait orientation: two rows */
@media (orientation: portrait) {
  .main {
    grid-template-rows: calc(61.8vw) auto;
    grid-template-columns: 100%;
    align-items: start;
  }
  .info {
    width: 100vw;
    height: calc(61.8vw); /* height is 61.8% of the width */
  }

  .board {
    /* 
      The remaining height is: 100vh - 61.8vw.
      Board’s width should be 50% of its height.
    */
    height: calc(100vh - 61.8vw);
    width: calc((100vh - 61.8vw) * 0.5);
    /* Center the board horizontally if needed */
    justify-self: center;
  }
}