@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url('/Halstatt.jpg'); /* Replace with your image URL */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  font-family: 'Inter', sans-serif;
  color: white; /* Adjust text color for visibility */
  display: flex;
  justify-content: center;
  align-items: center;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: "regular";
  font-style: normal;
}

.main {
  display:  flex;
  margin:   0.8%;
  width:    96vw;
  height:   96vh;
  
  /* border: #010d15 solid 1px;
  background-color: rgba(101, 174, 56, 0.5); */

  align-items: center;
  justify-content: center;
  font-size: 1.0em;
  /* color: #fff; */
}

.main .board {
  padding: 5px;
  margin: 5px;
  border: 5px solid #ad1515;
  box-shadow: 0 0 10px #ad1515;
  background-color: rgba(255, 0, 0, 0.2);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
}

.main .info{
  padding: 5px;
  margin: 5px;
  /* background-color:  rgba(14, 59, 221, 0.2); */
}
.main .info .score {
  font-size: 0.8em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 55px #ff00ff, 0 0 75px #ff00ff;
}

.info .button {
  color: white
}

.spectrum {
  font-size: 0.6em;
}

.spectrum .cells {
  width:  100%;
  height: 100%;

  border: #ad1515 solid 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  
  /* gap: 1px; */
}

.spectrum .cells .spec_cell.empty {
  background-color: rgba(59, 59, 59, 0.5);
}

.spectrum .cells .spec_cell.filled {
  background-color: rgba(255, 255, 255, 0.5);
}

.spectrum .cells .spec_cell.blocked {
  background-color: rgba(0, 0, 0, 0.5);
}

.spectrum header, .spectrum footer {
  margin: 5px;
}

.cell {
  background-color:  rgba(59, 59, 59, 0.5);
}

/* Landscape orientation: two columns */
@media (min-aspect-ratio: 64/100) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .main .board {
    width:  48vh;
    height: 100%;
  }

  .main .info {
    width:  16vh;
    height: 100%;
  }

  .next_pieces {
    width: 100%;
    height: calc(24vh - 10px);
    /* background-color: rgba(255, 0, 0, 0.2); */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  
  .small_board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    gap: 1px;
  }

  .score {
    width: 100%;
    height: 4vh;
    /* background-color: rgba(255, 0, 0, 0.2); */

    padding-left: 5px;
    padding-right: 5px;
  }
  
  .status {
    width: 100%;
    height: 4vh;
    /* background-color: rgba(21, 62, 124, 0.2); */

    padding-left: 5px;
    padding-right: 5px;
  }
  
  .button {
    width: 100%;
    height: 4vh;
    background-color: transparent;

    padding-left: 5px;
    padding-right: 5px;
  }
  
  .info .spectrum_list {
    height: 55vh;

    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px; */
    
    overflow-y: auto;
  }
  
  .info .spectrum_list .spectrum {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    text-align: center;
  }

  .info .spectrum_list .spectrum .cells {
    width:  10vh;
    height: 20vh;
    background-color: rgba(255, 0, 0, 0.2);
  }
}

/* Portrait orientation: two rows */
@media (max-aspect-ratio: 64/100) {
  .main {
    flex-direction: column;
  }

  .main .board {
    height: 192vw;
    width:  96vw;
    justify-self: center;
  }

  .main .info {
    width:  96vw;
    height: calc(96vh - 192vw);
  }

  
}